<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>5 Info</title>
</head>

<body>
    <h1>Fazedor de Cálculo</h1>
    <form action="/calculadora" method="post">
        <input type="number" name="valor1" id="valor1" max="99" min="0" placeholder="Digite o valor 1"><br>
        <input type="number" name="valor2" id="valor2" max="99" min="0" placeholder="Digite o valor 2"><br>
        <input type="submit" value="Enviar">
    </form>
</body>

</html>